
<div class="container" ng-controller="friendCtrl as fd" ng-init="fd.init(1)">
		
	
	<div style="box-shadow: 1px 2px 7px 2px gray; padding: 5px; width: 25%;">
		<input type="text" placeholder="Search Friends"  ng-model="fd.search"/>
	</div>
	<br/>
	<div class="row">
		
		<div class="col-xs-12 col-sm-5" ng-repeat="data in fd.data | filter:fd.search " style="padding:5px; ;box-shadow:1px 2px 7px 2px gray; ;margin: 5px;">
			<div class="row">		
				<div class="col-xs-5 col-xs-offset-1">
					<label>{{data[6]}}&nbsp;{{data[8]}}</label><br/>
					<label>{{data[2]}},&nbsp;{{data[3]}}</label><br/>
					<button class="btn btn-primary" ng-click="fd.addRequest(data)">Add Friend</button>
				</div>
				<div class="col-xs-6" ng-click="fd.profile(data)" style="cursor:pointer;">
					<img  src="http://localhost:8085/chatroom/getPic/{{data[0]}}/" style="max-width:50%;max-height:30%;" class=" pull-right img-responsive img-rounded"/>
				</div>
			</div>
		</div>
		
		
	</div>
	<div ng-show="fd.profileM" style="background-color :rgba(0,0, 0, 0.4);position:fixed; top:0%; left: 0%; width: 100%; height: 100%;">
		<div class="panel panel-info" style="margin: 5%;">
			<div class="panel-heading" style="text-align: center; color: Darkslategray; font-family: Courier; font-size: 18px;">
				{{fd.details[6]}}&nbsp;{{fd.details[8]}}
				<button class="btn btn-danger" style="float: right;" ng-click="fd.profileM = false">X</button>
			</div>		
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-12 col-sm-4" style="line-height: 2;border-right: 1px solid skyblue; ">
						From<br/>
						<label>{{fd.details[2]}},&nbsp;{{fd.details[3]}}</label>
						<hr/>
						Date Of Birth<br/>
						<label>{{fd.details[5]}}</label>
						<hr/>
						Email<br/>
						<label>{{fd.details[0]}}</label>
						<hr/>
						Gender<br/>
						<label>{{fd.details[7]}}</label>
					</div>
						
					<div class="col-xs-12 col-sm-8">
						<div class="row">
							<div class="col-xs-4 col-xs-offset-4" style="padding: 10px;" class="center-block">
								<img src="http://localhost:8085/chatroom/getPic/{{fd.details[0]}}/" class="img-responsive img-circle"  width="250" height="250" style="box-shadow: 1px 2px 8px 4px gray;" />
							</div>		
						</div>
						<div class="row">
							<div class="col-xs-12">
								<div class="panel panel-info">
									<div class="panel-heading" style="text-align: center;">
										Blog Post
									</div>							
									<div class="panel-body">
										<label ng-repeat="blg in fd.details.blogs">{{blg.blogTitle}}&nbsp;|&nbsp;</label>
										<div ng-show="fd.details.blogs.length == 0" style="text-align: center; font-family: courier;"> No Blogs Added By {{fd.details[6]}}</div>
									</div>
								
								</div>
							</div>		
						</div>
					</div>
				
				</div>
			</div>
			<div class="panel-footer" style="text-align:center;">
				<button class="btn btn-primary" ng-click="fd.addFriend( fd.details[0])">ADD</button><br/>
				
			
			</div>
		</div>
	</div>
	
	
</div>